/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;

  border-bottom: 1px solid lightgray;
  padding: 10px 0px 15px 0px;
}

#favorite-stories {
  list-style:none;
  padding-left:15px;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  display:block;
  padding-left: 30px;

  color: green;
  font-size: .75rem;
}

.story-user {
  display: block;
  padding-left: 30px;

  color: goldenrod;
  font-size: .75rem;
}

.star{
  margin: 0 5px;

  font-size: .75rem;
  
  cursor: pointer;
}